html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f5f7fa;
}

.app-grid {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  height: 100vh;
}


.app-nav {
  grid-area: nav;
  background-color: #1f2937; /* dark slate */
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

.app-nav nav {
  display: flex;
  gap: 2rem;
}

.app-nav a {
  color: #ffffff;
  text-decoration: none;
 
}

.app-nav a:hover {
  color: lightblue;
}


.app-main {
  grid-area: main;
  padding: 2rem;
  overflow-y: auto;
  background-color: #f9fafb;
}


.app-footer {
  grid-area: footer;
  background-color: #1f2937;
  color: #cbd5e1;
  text-align: center;
  padding: 1rem;

}
.search-bar {
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
}

.search-bar input {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid;
  border-radius: 4px;
}

.search-bar button {
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  background-color: #4a90e2;
  color: white;

}

.displaySearch{
  display:flex;
  flex-direction: column;
  justify-content:center;
}

.search-bar button:hover {
  background-color: #357ab8;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1.5rem;
}

.grid-item {
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;

}
